.footer {
  padding: 92px 0 24px;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  width: 100%;
  max-width: 166px;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.14;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-top: 64px;
  }
}
