.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 0 0;
  width: 100%;
}

.header__logo {
  max-width: 254px;
  width: 100%;
  margin-bottom: 90px;
}

.header__title {
  width: 100%;
  max-width: 720px;
  text-align: center;
  margin: 0 0 32px;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
}

.header__subtitle {
  width: 100%;
  max-width: 720px;
  margin: 0 0 64px;
  text-align: center;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.2;
}

.header__main-image {
  width: 100%;
  height: auto;
  max-width: 984px;
  filter: grayscale(100%);
  margin: 0;
  box-shadow: 10px 10px 25px 0px #00000080;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding-top: 30px;
  }

  .header__logo {
    max-height: 66px;
  }

  .header__title {
    font-size: 4.68rem;
    line-height: 1.055;
    max-width: 530px;
    margin-bottom: 25px;
  }

  .header__subtitle {
    max-width: 720px;
    font-size: 1.87rem;
    line-height: 1.2;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 20px;
  }

  .header__logo {
    max-width: 188px;
    margin-bottom: 50px;
  }

  .header__title {
    max-width: 228px;
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 16px;
  }

  .header__subtitle {
    max-width: 280px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}
